:root {
  --text-color: #666968;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  background-image: url("../assets/background.png");
}

.main-content {
  padding: 50px 40px;
  color: var(--text-color);
}

.description {
  margin: 0 130px 50px;
}

h2 {
  text-transform: uppercase;
}

.card-columns {
  border: 1px solid #000000;
  border-radius: 50px;
}
img {
    /* width: 33.3%; */
    /* width: 100px; */
    max-width: 100%;
    margin: 10px;
    /* border: 2px solid red; */
    height: auto;
}